@import "./root.css";

.jumbotron-wrapper .jumbotron-image {
    width: 149px;
    border-radius: 6px 0px 0px 6px;
    flex-shrink: 0;
    overflow-y: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-wrapper .jumbotron-title {
    font-size: var(--font-size-xl);
}

.jumbotron-wrapper .jumbotron-address {
    font-size: calc(var(--font-size-md) - 2);
    line-height: 10px;
}

.jumbotron-wrapper .jumbotron-table {
    font-size: calc(var(--font-size-md) - 1);
}

.jumbotron-wrapper .jumbotron-table span {
    font-size: 8px;
    border-radius: 4px;
    min-width: 44px;
}
